/* default styles */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #40513b;
  --hover-color: #609966;
  --body-color: #9dc08b;
  --container-color: #609966;
  --text-color: #edf1d6;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  background: var(--body-color);
  color: var(--text-color);
}

body::after {
  content: "";
  display: block;
}

section {
  padding: 6rem 0 0rem;
}

.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}

/* Nav bar */
.navbar {
  background: var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.content .logo a {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
}

.content .links li {
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  background: #323c4e;
}

.navbar .search-icon,
.navbar .menu-icon {
  color: var(--text-color);
  font-size: 18px;
  cursor: pointer;
  width: 30px;
  text-align: center;
}

.navbar .menu-icon {
  display: none;
}

.navbar #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.navbar .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.navbar #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: var(--text-color);
  background: var(--main-color);
  padding: 0 100px 0 15px;
}

.search-box input::placeholder {
  color: var(--text-color);
}

.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  background: var(--main-color);
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.navbar input[type="checkbox"] {
  display: none;
}

/* carousel hero */

.carousel-hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 1022px;
  margin: 0 auto;
  padding-top: 10%;
}

.carousel-container-hero {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-hero-item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-hero-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-hero-prev,
.carousel-hero-next {
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  font-size: 36px;
  color: white;
  cursor: pointer;
  padding: 20px;
}

.carousel-hero-prev {
  left: 0;
}

.carousel-hero-next {
  right: 0;
}

.carousel-hero-prev:hover,
.carousel-hero-next:hover {
  opacity: 0.8;
}

.carousel-hero-title {
  bottom: 8px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
}

/* movie section */

.movies {
  margin: 3% 0% 3% 0%;
  padding: 10px;
  position: relative;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.movie-details {
  height: 100%;
  margin: 10px;
}

.movie-details img {
  display: block;
  max-width: 390px;
}

.movies-title {
  display: flex;
  justify-content: center;
}

.movies-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.movies-page .carousel-item {
  padding-top: 40px;
}

#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding-top: 30px;
}

.tag {
  color: white;
  padding: 10px 20px;
  background-color: var(--main-color);
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.moviesPage-title {
  padding-top: 80px;
  text-align: center;
}

/* footer styling */
footer {
  margin: 20px 0px 0px 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}

/* moviePage  */

.moviesPage-main {
  padding: 20%;
}

/* TvShows */

.TvShowsPage-main {
  padding: 20%;
}

/* product */

.product-main {
  flex-direction: column;
  padding-top: 20%;
}

.product-image {
  flex-basis: 50%;
}

.product-details {
  flex-basis: 50%;
  padding-left: 20px;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-buttons button {
  margin: 5px;
  background-color: var(--hover-color);
  color: var(--text-color);
  border: none;
  padding: 20px;
}

/* about us  */

.about-main {
  padding: 20%;
}

.about-table {
  display: flex;
  align-items: center;
  padding: 0% 8%;
}

.about-table table {
  border-collapse: collapse;
  width: 100%;
}
.about-table img {
  width: 40%;
}
.about-table th,
td {
  border: 1px solid var(--main-color);
  padding: 8px;
  text-align: left;
}

.about-table th {
  background-color: var(--main-color);
}

.about-page {
  padding: 20% 10% 10% 10%;
}

/* Responsive code start */

@media only screen and (min-width: 768px) {
  .product-main {
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
  }
}

@media only screen and (min-width: 768px) {
  .scroll-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
  }

  .movie-details img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .arrowimg {
    display: block;
    max-width: 50px;
  }

  .arrowimg:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  .about-page {
    padding: 10%;
  }
}

@media screen and (max-width: 1250px) {
  .navbar nav {
    max-width: 100%;
    padding: 0 20px;
  }

  nav .content .links {
    margin-left: 30px;
  }

  .content .links li a {
    padding: 8px 13px;
  }

  .navbar .search-box {
    max-width: calc(100% - 100px);
  }

  .navbar .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .navbar .menu-icon {
    display: block;
  }

  .navbar #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }

  nav .content .links {
    display: block;
    position: fixed;
    background: var(--main-color);
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }

  .content .links li {
    margin: 15px 20px;
  }

  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }

  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }

  .content .links ul li {
    margin: 7px 20px;
  }

  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .navbar nav {
    padding: 0 10px;
  }

  .content .logo a {
    font-size: 27px;
  }

  .navbar .search-box {
    max-width: calc(100% - 70px);
  }

  .navbar .search-box .go-icon {
    width: 30px;
    right: 0;
  }

  .navbar .search-box input {
    padding-right: 30px;
  }
}

.dummy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.dummy-text h2 {
  font-size: 45px;
  margin: 5px 0;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 20px;
}

.carousel-container-tv {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 20px;
}
.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-container-tv::-webkit-scrollbar {
  display: none;
}
.carousel-item,
.carousel-item-tv {
  flex: 0 0 auto;
  width: calc(100% / 5);
  height: auto;
  margin-right: 20px;
  scroll-snap-align: center;
  text-align: center;
}
.carousel-item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.carousel-item p {
  font-size: 14px;
  margin-top: 10px;
}
.prev-button,
.next-button,
.prev-button-tv,
.next-button-tv {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.prev-button,
.prev-button-tv {
  left: 0;
}
.next-button,
.next-button-tv {
  right: 0;
}


/* chart js */
.charts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding-top: 10%;
  margin: 0 auto;
}

.chart-item{
  margin: 30px;
}